[Unit]
Description=Cloudflare Dynamic DNS

[Service]
Environment="CF_TOKEN=<YOUR_CF_TOKEN>"
Environment="V6_HOST=<YOUR_IPv6_FQDN>"
Type=simple
ExecStart=/usr/local/bin/cf-ddns -6 $V6_HOST
Restart=always

[Install]
WantedBy=multi-user.target